.login_main {
    max-width: 400px;
    margin-inline: auto;
    margin-top: 10%;
    span {
        color: #fff;
        transition: all 300ms ease-out;
        width: 50%;
        text-align: center;
        padding: 8px 15px;
        border-radius: 50vw;
        user-select: none;
    }
    .form {
        margin-top: 1rem;
        display: flex;
        flex-direction: column;
        gap: 2rem;

        input {
            font-size: 1.4rem;
            outline: none;
            border-radius: 15px;
            border: none;
            padding: 1rem 1.6rem;
            background-color: #333;
            color: #f4f4f4;
            font-weight: 600;
        }
        .login_btn {
            width: fit-content;
            margin: auto;
            font-size: 1.8rem;
            background-color: teal;
            color: #fff;
            font-weight: 600;
            padding: 1rem 3rem;
            outline: none;
        }
    }
}

@media only screen and (min-device-width: 320px) and (max-device-width: 480px) {
    .login_main {
        width: 100%;
        .form {
            .login_btn {
                font-size: 1.4rem;
            }
        }
    }
}
