.badge_main {
    background-color: teal;
    width: fit-content;
    height: fit-content;
    display: inline;
    font-size: 1.1rem;
    padding: 5px 10px;
    border-radius: 50vw;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
    cursor: pointer;
    font-weight: 600;
}
