.signup_main {
  width: 400px;
  margin-inline: auto;
  margin-top: 6rem;
  position: relative;

  .main_title {
    display: flex;
    justify-content: center;
    align-items: center;

    img {
      height: 80px;
      width: 80px;
      margin-top: 10px;
    }

    h1 {
      color: #fff;
      text-align: center;
      font-family: "gold";
      font-size: 3.8rem;
      margin: 0;
    }
  }

  form {
    .progress_wrapper {
      display: flex;
      justify-content: end;

      .progress {
        color: #fff;
        width: min-content;
        background-color: teal;
        padding: 0.3rem 0.5rem;
        border-radius: 50vw;
        font-weight: 600;
      }
    }

    input {
      font-size: 1.4rem;
      outline: none;
      border-radius: 15px;
      border: none;
      padding: 1rem 1.6rem;
      background-color: #333;
      color: #f4f4f4;
      font-weight: 600;
      width: 100%;
      margin-inline: auto;
    }

    .bottom_btns {
      margin-top: 2rem;

      button {
        font-size: 1.25rem;
        background: none;
        border: none;
        outline: none;
        background-color: teal;
        padding: 0.5rem 1.2rem;
        color: #fff;
        border-radius: 50vw;
        font-weight: 600;
        cursor: pointer;
      }
    }
  }

  .link {
    color: teal;
    user-select: none;
    outline: none;
    display: block;
    border: none;
    width: max-content;
    text-decoration: none;
    margin: auto;
    margin-top: 2rem;
    background: none;
    font-size: 1.1rem;
    cursor: pointer;
  }
}

.single_form {
  margin-top: 1rem;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.small_msg {
  margin: 0;
  margin-left: 2%;
  margin-top: 0.3rem;
  height: 14px;

  p {
    font-size: 1rem;
    color: #fff;
  }

  .small_spinner {
    height: 14px;
    width: 14px;
  }
}

.profile_wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
}

.profile_preview {
  position: absolute;
  right: 0;
  width: 25%;
  border-radius: 50vw;
}

.file {
  display: none;
}

.pass_wrapper {
  width: 100%;
  position: relative;
}

.upload_btn {
  font-size: 1.2rem;
  padding: 1rem;
  border-radius: 30vw;
  cursor: pointer;
  font-weight: 600;
  margin-left: 1%;
}

.show_btn {
  position: absolute;
  right: 0.5rem;
  top: 0px;
  padding: 1rem 0.8rem;
  font-size: 1.2rem;
  background: none;
  color: #999;
  border: none;
  outline: none;
  font-weight: 600;
  cursor: pointer;
}

@media only screen and (min-device-width: 320px) and (max-device-width: 480px) {
  .signup_main {
    width: 95%;

    .progress {
      font-size: 1.2rem;
      right: 5%;
    }

    form {
      display: flex;
      justify-content: center;
      align-items: center;
    }

    input {
      display: block;
      margin-inline: auto;
      width: 90%;
    }
  }

  .upload_btn {
    margin-left: 8%;
    font-size: 1rem;
    padding: 0.75rem;
  }

  .small_msg {
    height: 14px;
    margin-left: 7%;
  }

  .next_btn {
    margin-right: 7%;
  }

  .profile_preview {
    margin-right: 5%;
  }
}
