.modal_main {
    background-color: #000;
    width: 40%;
    padding: 2rem;
    border-radius: 2rem;
    user-select: none;
    .close_wrapper {
        display: flex;
        justify-content: flex-end;
    }
    .p {
        margin-top: 2rem;
        font-size: 1rem;
    }
    .input {
        margin-top: 2rem;
        font-size: 1.25rem;
        padding: 0.75rem 1.25rem;
        outline: none;
        border: none;
        border-radius: 1rem;
        width: 100%;
        background-color: #333;
        color: #fff;
    }
    .msg_btn_wrapper {
        display: flex;
        justify-content: space-between;
        align-items: center;
        .msg {
            font-size: 0.9rem;
        }
        .btn {
            display: block;
            background-color: teal;
            margin-top: 1rem;
            width: fit-content;
            margin-left: auto;
        }
    }
}

@media only screen and (min-device-width: 320px) and (max-device-width: 480px) {
    .modal_main {
        width: 100%;
    }
}
