.scollable_main {
    padding: 0.4rem;
    .content_wrapper {
        display: flex;
        justify-content: flex-start;
        align-items: flex-end;
        gap: 0.35rem;
        .sender_pic {
            width: 1.75rem;
            height: 1.75rem;
            border-radius: 50vw;
        }
        .content {
            background-color: teal;
            padding: 0;
            padding: 0.5rem 0.75rem;
            font-size: 1rem;
            border-radius: 1.5rem;
            margin-block: 1px;
            width: fit-content;
            max-width: 70%;
        }
    }
}
