.nav_main {
  padding: 0.2rem 1rem;
  height: calc(10% - 1px);
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #222;

  .user_profile {
    background-color: #222;

    .user_pic {
      width: 40px;
      border-radius: 50vw;
      cursor: pointer;
    }
  }

  .logo {
    width: 60px;
    height: 60px;
  }

  .group_icon {
    cursor: pointer;
  }
}

.popover_content {
  width: 10rem;

  .popover_item {
    padding: 0.5rem 1rem;
    cursor: pointer;
    border-radius: 0.25rem;

    &:hover {
      background-color: #333;
    }
  }
}

@media only screen and (min-device-width: 320px) and (max-device-width: 480px) {
  .nav_main {
    height: fit-content;

    .user_profile {
      position: relative;

      .menu {
        font-size: 1rem;
      }
    }
  }
}
